
@font-face {
    font-family: Demun Lotion;
    src: url(https://raw.githubusercontent.com/GrandioseBehavior/asset/main/DemunLotion-Eppz.ttf);
}
@font-face {
    font-family: Ace Sans;
    src: url(https://raw.githubusercontent.com/GrandioseBehavior/asset/main/AceSansFree-2O2LX.otf);
}

body{height:100%;width:100%;
    background-image: url(https://media2.giphy.com/media/FlodpfQUBSp20/200.webp?cid=ecf05e47tcxe2rv3lii7fbb5skzegjnb28quz0h8fd7nspbl&ep=v1_gifs_search&rid=200.webp&ct=g);font-family:Ace Sans;}

/* In this class (.photo) in the 'background-image' property, nested first in the {}, is where you can upload your own profile photo. In the url(), replace the current url link with the link address of your own photo. Your photo should automatically adjust according to the rest of the property settings and there should be no need for any further edit*/

.photo{background-image: url(https://t4.ftcdn.net/jpg/02/35/85/19/240_F_235851928_PdK13dfgU2XFS4Fa34k2SztkGQnA7BTM.jpg);border-radius:100px;margin-right:auto;margin-left:auto;width:150px;height:150px; margin-top:50px;margin-bottom:0;background-size:cover; box-shadow: 0px 0px 50px rgb(70, 193, 254);overflow:hidden;padding:0;}

.title{display:block;width:300px;margin-left:auto;margin-right:auto;text-align:center;margin-top:30px;padding-left:25px;}

.content{display:block;
    margin-top:35px;
    margin-bottom:40px;
    margin-right:auto;
    margin-left:auto;
    width:200px;
    height:350px;
    background-color:rgba(100, 1, 131, .15);
    backdrop-filter: blur( 1.5px ) saturate(300%);  
    box-shadow: 0px 0px 50px rgb(70, 193, 254);
    overflow:hidden;
    border-radius:200px;} 

a {color: rgb(175, 0, 228);text-decoration:none;padding:50px;}

.footer{font-family: Ace Sans;font-size:.7rem;color:rgb(175, 0, 228);margin-left:auto;margin-right:auto;width:400px;text-align:center;padding-bottom:20px;display:block;}

h1{font-family:Demun Lotion; color:white;letter-spacing:.5rem;text-align:center;font-size:2.5rem;font-weight:100;font-size:1.5rem;}

h2{font-family:Demun Lotion; color:white;font: weight 100px;letter-spacing:.5rem;text-align:center;margin-top:0;font-size:2.5rem;font-weight:100;font-size:2rem;}


